<head>
	<link rel="stylesheet" href="application.css">
	<style>
	.idu1 {background-color:#F5406A; border-radius: 20px; text-align: center}
	.idu2 {background-color:#F7F79C; border-radius: 20px; text-align: center}
	.idu3 {background-color:#79F782; border-radius: 20px; text-align: center}
	</style>
</head>

<body>

	 <header class="clearfix">
	  <div class="row">
	    <div  class="large-2 columns logo">
	      <img id="ourlogo" src="http://38.media.tumblr.com/4a0b624546d6dd56d1aafc3c855c8ea0/tumblr_n9dultZpLm1qdk1mqo1_400.jpg"/> 
	    </div>

	  </div>
	</header>






	<a href="/home">Home </a>

	<div class="container">
		<h3> Hi, <%= @student.username %>. These are your lectures: </h3> <br>
		<% @lecturearray.each do |x| %>


		<a href="/students/<%= @student.id %>/<%= Lecture.find(x).name %>"><%= Lecture.find(x).name %> </a><br>

		<% end %> <br>

		<h3>  These are your Feedbacks: </h3><br>
		<% @idus.reverse.each do |idu| %>
		<div class="idu<%=idu.idu_type %>" >
			Lecture: <%= Lecture.find(idu.lecture_id).name %> <br>
			Keyword: <%= idu.keyword  %> <br>
			Created at: <%= idu.created_at.to_s[0..18]  %> <br><br>
		</div><br>
		<% end %><br>





<div class="footer" id="footerpadding">
   <div class="large-12 columns">
     <hr>
     <div class="row">
       <div class="large-3 columns">
         <a href="#"><strong>ABOUT</strong></a>
       </div>
       <div class="large-3 columns">
         <a href="#"><strong>FEATURES</strong></a>
       </div>
       <div class="large-3 columns">
          <a href="#"><strong>CONTACT</strong></a>
       </div>
       <div class="large-3 columns">
          <a href="#"><strong>PARTNER WITH US</strong></a>
       </div>
     </div>
   </div>
 </footer>






</body>














